header {
    display: flex;
    justify-content: space-between;
    padding: 10px 2%;
    border-bottom: 2px solid lightgrey;
}

/* Logos du header */
.logosociaux img {

    margin: 0px 10px;
    }

/* Infos contact du header */
.intro p {
    margin: 0;
    text-align: right;
}