header {
    display: flex;
    justify-content: space-between;
    margin: 15px 2%;
}

/* Logos du header */
.logosociaux img {

    margin: 0px 10px;
    }

/* Infos contact du header */
.intro p {
    margin: 0;
    text-align: right;
}