<main>
  <section class="blocpresentation">
    <div class="nometmetier">
      <h1>Thibault Sanclemente</h1>
      <p class="metier">Ingénieur études et développement iOS</p>
    </div>
    <img class="profil" src="assets/profil.png" alt="" />
    <div class="projetintro">
      <h2 class="projet">Projet Professionnel</h2>
      <p class="intro">
        Développeur iOS à la recherche d’un contrat en CDI ou
freelance sur Toulouse ou à distance. Spécialisation en
SwiftUI. Expériences en recrutement, marketing et
relation client. Disponible à partir du 24 mars 2025.
      </p>
    </div>
  </section>
  <section class="blocmaincontent">
    <div class="colonne">
      <div class="BlocXPFORM">
        <div class="xp">
          <h2>Expériences</h2>
          <div class="colform">
            <span class="annee"><b>Mars 2024 - Décembre 2024</b></span>
            <span class="nomposte">
              <p><b>Ingénieur d'études et développement</b></p>
              <p>Sopra Steria</p><br />
              <p>
                <b>Projet : </b>Automatisation de la création de formulaires pour la MSA<br />
                <b>Environnement technique : </b>Birt, GitLab, Microsoft Teams, Excel, logiciels internes spécifiques<br />
                <b>Autres : </b>Méthodologie Agile, formation des nouveaux collaborateurs sur Birt, création de fichiers de suivi
              </p>
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Juillet 2023 - Mars 2024</b></span>
            <span class="nomposte">
              <p><b>Ingénieur d'études et développement</b></p>
              <p>Adaming Conseil</p><br />
              <p>
                <b>Projet : </b>Automatisation des déclarations d'accidents du travail<br />
                <b>Environnement technique : </b>Eclipse, GitLab, SVN, Java, Birt, TestNG, Jenkins<br />
                <b>Autres : </b>Méthodologie Agile, Kanban
              </p>
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Mars - Mai 2021 &<br /> Mars - Novembre 2022</b></span>
            <span class="nomposte">
              <p><b>Ingénieur Fullstack Javascript</b></p>
              <p>OpenClassrooms</p><br />
              <p>
                Utilisation de Git<br />
                - Création d'un site de vente et location de chalets avec Wordpress<br />
                - Développement d'un intranet pour un groupe bancaire en HTML, CSS, PHP & MySQL<br />
                - Création d'un site de vente de canapés en Javascript<br />
                - Développement d'un site commercial pour des sauces épicées en Javascript<br />
              </p>
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Autres Expériences<br />2014 - 2020</b></span>
            <span class="nomposte">
              <p><b>Chargé de Sourcing</b></p>
              <p>Randstad</p><br />
              <p><b>Chargé de Recrutement</b></p>
              <p>Manpower</p><br />
              <p><b>Responsable Marketing & Distribution</b></p>
              <p>GD78Music</p><br />
              <p><b>Assistant Marketing</b></p>
              <p>Galeries Lafayette</p><br />
            </span>
          </div>
        </div>

        <div class="formation">
          <h2>Formations</h2>
          <div class="colform">
            <span class="annee"><b>Février 2025 - Mars 2025</b></span>
            <span class="nomdiplome">
              <p><b>Apple Foundation Program Extended (Simplon)</b></p>
              <p><span>Simplon</span></p><br />
              <b>Projet : </b>Développement d'une application avec API et backend.
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Janvier 2025 - Février 2025</b></span>
            <span class="nomdiplome">
              <p><b>Apple Foundation Program (Simplon)</b></p>
              <p><span>Simplon</span></p><br />
              <b>Projet : </b>Création d'un prototype d'application pour connecter des seniors en besoin avec des aidants (bénévoles ou professionnels) en partenariat avec des organisations sociales. Travail en groupe de 4 avec présentation devant un jury professionnel.
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Avril 2023 - Juillet 2023</b></span>
            <span class="nomdiplome">
              <p><b>Développeur JavaEE (POEI)</b></p>
              <p><span>Adaming Conseil</span></p><br />
              <p>
                <b>Projets : </b>Plateforme de gestion d'étudiants, site de création de voyages pour un aéroport, mini-projets<br /><br>
                <b>Environnement technique : </b>Eclipse, Git, UML (diagrammes de classes), MongoDB, Bootstrap, Spring<br />
              </p><br />
              <b>Projet final : </b>Création d'un site utilisant Eclipse (Spring) pour le backend et VSCode pour le frontend (Angular). Le projet comprenait une plateforme de gestion universitaire avec des fonctionnalités de gestion des étudiants et enseignants, consultation d'informations (notes, emplois du temps, listes d'étudiants/enseignants), une plateforme de discussion, des statistiques et des formulaires de soumission/correction d'examens.
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Mars 2021 - Juillet 2022</b></span>
            <span class="nomdiplome">
              <p><b>Développeur Web (Bac+2)</b></p>
              <span>OpenClassrooms</span>
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>2017 - 2020</b></span>
            <span class="nomdiplome">
              <p><b>Master en RH (Bac+5)</b></p>
              <span>ESC Pau</span>
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>2014 - 2017</b></span>
            <span class="nomdiplome">
              <p><b>Bachelor en Commerce (Bac+3)</b></p>
              <span>EGC Tarbes</span>
            </span>
          </div>
          <div class="colform">
            <span class="annee"><b>Formation Autodidacte</b></span>
            <span class="nomdiplome">
              <p>
                <b>Projets :</b><br />
                - Création d'une application iOS présentant des points d'intérêt sur une carte avec gestion des favoris en utilisant Vstack et Hstack pour le défilement et les superpositions de vues. Outils : Xcode, SwiftUI.<br />
                - Développement d'une application iOS pour le scoring de matchs de tennis<br />
                - Tutoriels Apple Dev : site officiel Apple pour approfondir les connaissances en Xcode & Swift Playground<br />
                - Mini-projets et fonctionnalités web via des tutoriels YouTube et autres ressources<br />
              </p><br />
              <p>
                <b>Fonctionnalités :</b><br />
                - Carousel en Javascript<br />
                - Chat simplifié avec un seul champ de saisie en HTML<br />
                - Cartes défilant automatiquement horizontalement de droite à gauche en HTML/CSS. Inclut des effets de survol, des animations avec délais (effets de zoom avant/arrière).<br />
                - Design responsive pour mobile, tablette et PC jusqu'à 4K (affichage spécial) avec Flexbox pour l'affichage des cartes responsives.<br />
                - Picker, barre de recherche, navigation entre écrans, etc., avec SwiftUI
              </p>
            </span>
          </div>
        </div>
      </div>
      <div class="colonne">
        <div class="BlocCompétences">
          <h2>Compétences Techniques</h2>
          <p>
            <b>- Programmation : </b>SwiftUI, JavaJEE, HTML, CSS, JavaScript (Angular, React), PHP, Swift<br />
            <b>- Bases de données : </b>MongoDB, MySQL, PHPMyAdmin<br />
            <b>- Autres outils : </b>Notion, Figma, Git, Jenkins, Wordpress, Bootstrap<br />
            <b>- Outils bureautiques : </b>Maîtrise de MS Office (Word, Excel, PowerPoint), Windows, MacOS<br />
            <b>- Environnements de développement : </b>Xcode, VSCode, Eclipse, SublimeText<br />
            <b>- Autres compétences : </b>Rédaction de spécifications techniques, participation aux revues de conception, suivi et validation des tests, documentation des applications, garantie de la qualité du code, amélioration des fonctionnalités existantes
          </p>
          <h2>Compétences Douces</h2>
          <p>
            - Saisie et analyse de données (mise à jour de fichiers et analyse de données)<br />
            - Relations clients (compréhension des besoins, présentation de solutions, suivi client)<br />
            - Diagnostics et conseils (analyse des systèmes existants et recommandations)<br />
            - Travail en équipe (méthodologie agile, communication)<br />
            - Niveau d'anglais C1 (TOEIC 820)
          </p>
        </div>
        <div class="BlocCentresdinteret">
          <h2>Centres d'Intérêt</h2>
          <span class="logosactivites">
            <img [src]="imageAvion" alt="" width="35px" />
            <img [src]="imageManette" alt="" width="35px" />
            <img [src]="imageBallon" alt="" width="35px" />
            <img [src]="imageRando" alt="" width="35px" />
          </span>
        </div>
      </div>
    </div>
  </section>
</main>