<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <link href="https://www.dafontfree.net/embed/Z2FsYW5vLWdyb3Rlc3F1ZS1kZW1vLWJvbGQmZGF0YS81MS9nLzIzNzg5L0dhbGFubyBHcm90ZXNxdWUgREVNTyBCb2xkLm90Zg" rel="stylesheet" type="text/css"/>
  <title>CV</title>
</head>
<body>
  <app-header></app-header>
  <app-main></app-main>
  <app-footer></app-footer>
</body>
</html>