<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <link href="https://www.dafontfree.net/embed/Z2FsYW5vLWdyb3Rlc3F1ZS1kZW1vLWJvbGQmZGF0YS81MS9nLzIzNzg5L0dhbGFubyBHcm90ZXNxdWUgREVNTyBCb2xkLm90Zg" rel="stylesheet" type="text/css"/>
  <title>CV</title>
</head>
<body>
  <app-header></app-header>
  <main>
    <section class="blocpresentation">
      <div class="nometmetier">
        <h1>Thibault Sanclemente</h1>
        <p class="metier">DÉVELOPPEUR WEB & MOBILE</p>
      </div>
      <div class="projetintro">
        <h2 class="projet">Projet Professionnel</h2>
        <p class="intro">
          Développeur web & mobile à la recherche d’un contrat en CDD ou CDI sur Toulouse ou à distance. Expérience en recrutement, marketing et relation client.</p>
      </div>
    </section>
    <section class="blocmaincontent">
      <img [src]="imageprofil" alt="" width="35px">
      <div class="BlocXPFORM">
          <div class="xp">
            <h2>Expériences</h2>
            <span>
              <p></p>
              <p></p>
            </span>
            <span>
              <h3></h3>
              <p></p>
            </span>
        </div>
        <div class="formation">
          <h2>Formations</h2>
          <div>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="BlocCompétences">
        <h2>Compétences techniques</h2>
        <p></p>
        <h2>Autres compétences</h2>
        <p></p>
      </div>
      <div class="BlocCentresdinteret">
        <h2>Centres d'intérêt</h2>
        <span>
          <img [src]="imageAvion" alt="" width="35px">
          <img [src]="imageManette" alt="" width="35px">
          <img [src]="imageBallon" alt="" width="35px">
          <img [src]="imageRando" alt="" width="35px">
        </span>
      </div>
    </section>

  </main>
<app-footer></app-footer>
</body>
</html>